<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">Catch them all</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/products">Products</a></li>
        <li><a href="/map">Map</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.admin %}
          <li><a href="/auth/admin">Admin</a></li>
          <li><a href="/auth/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        {% elseif user %}
          <li><a href="/auth/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        {% else %}
          <li><a href="/auth/login">Register/Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>