<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Catch Pokemons {% block title %}{% endblock %}</title>
    <!-- stylesheets -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ baseurl }}/css/main.css" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
  </head>
  <body>

    {% include "./partials/nav.html" %}

    <br>
    <br>
    <br>

    {% include "./partials/flash.html" %}

    <!-- Page Content -->
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- scripts -->
    <script src="//code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
  
    <script src="{{ baseurl }}/js/main.js" type="text/javascript"></script>
    {% block js %}{% endblock %}
  </body>
</html>