  {% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}
  
 <div class="container"> 
  <p class="lead">Enter your credentials.</p>
  <a href="/">Go home</a>
  <br><br>
  <form role="form" action="/auth/login" method="post" style="max-width: 300px;">
    <div class="form-group">
      <input type="email" name="email" placeholder="Enter Email" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Password" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    &nbsp;
    <a href="/"><button type="button" class="btn btn-primary">Cancel</button></a>
  </form>
  <br>
  </div>
  
  {% endblock %}