{% extends '_base.html' %} {% block title %}{% endblock %} {% block content %}

<div class="container">
  <h1>Charge</h1>
  <br>
  <a href="/products">Back to product list</a>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <div>
        <h2>You are buying:</h2>
        <ul>
          <li>Product Name: <em>{{product.name}}</em></li>
          <li>Amount: <em>${{product.amount}}</em></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <h2>One time payment</h2>
      <br>
      <form id="payment-form" role="form" autocomplete="on" action="/paypal/order" method="POST" style="max-width: 300px;">
        <input style="display:none" name="productAmount" value="{{product.amount}}">
        <input style="display:none" name="productName" value="{{product.name}}">
        <input style="display:none" name="productID" value="{{product._id.toString()}}">
        <button type="submit" class="btn btn-default submit-button btn-block">Pay with Paypal</button>
      </form>
    </div>
  </div>

  <br> {% endblock %} {% block js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js" type="text/javascript"></script>
  <script src="{{ baseurl }}/js/validation.js" type="text/javascript"></script> {% endblock %}