{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Catch Pokemons</h1>
      <p class="lead">Go catch tehm all.</p>
      <br>
    </div>
  </div>
</div>

{% endblock %}