{% extends '_base.html' %} {% block title %}{% endblock %} {% block content %}


<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="longitude">Longitude</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="longitude" disabled>
        </div>
        <label class="col-sm-2 control-label" for="latitude">Latitude</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="latitude" disabled>
        </div>
        <div id="startsearchingbtn" class="col-sm-2">
            <button type="button" class="btn btn-primary" onclick="startSearching()">Start searching</button>
        </div>
    </div>
    <pre>Please find your position on the map and click the right mouse button or click geo button.</pre>
    <button type="button" class="btn btn-primary" onclick="geoFindMe()">Show my location</button>
    <p id="error" class="bg-danger" style="display: none;"></p>
</div>

<div id="progressbar" class="progress" style="display: none;">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
    style="width:100%">
    </div>
</div>


<div class="row">
    <div id="googleMap"></div>
</div>

{% endblock %} {% block js %}


<script>
    var map, marker, infowindow;
var positions = {};

function geoFindMe() {
  var output = document.getElementById("error");

  if (!navigator.geolocation){
    output.innerHTML = 'Geolocation is not supported by your browser';
    $("#error").show();
    return;
  }

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    $("#longitude").val(longitude);
    $("#latitude").val(latitude);

    updateMyPosition(latitude, longitude);

  };

  function error() {
    output.innerHTML = "Unable to retrieve your location";
    $("#error").show();
  };


  navigator.geolocation.getCurrentPosition(success, error);
}

function initialize()
{
        var myCenter=new google.maps.LatLng(51.508742,-0.120850);
            $("#longitude").val('51.508742');
    $("#latitude").val('-0.120850');

var mapProp = {
  center:myCenter,
  zoom:10,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

map = new google.maps.Map(document.getElementById("googleMap"),mapProp);


 map.addListener('rightclick', function(event) {
    $("#longitude").val(event.latLng.lng());
    $("#latitude").val(event.latLng.lat());


updateMyPosition(event.latLng.lat(), event.latLng.lng());

  });

marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);

infowindow = new google.maps.InfoWindow({
  content:"My position"
  });

infowindow.open(map,marker);
}

function updateMyPosition(lat, lng){
    marker.setPosition( new google.maps.LatLng( lat, lng ) );
    map.panTo( new google.maps.LatLng(lat, lng) );
}

var mapPage = {loading: false};

function startSearching(){

$('button').prop('disabled', true);

    var data = {};
    data.longitude = $("#longitude").val();
    data.latitude = $("#latitude").val();

if(!data.longitude || !data.latitude)    {
  return;
}

if(!mapPage.loading){
  mapPage.loading = true;

    $("#progressbar").show();


    $.ajax({
        url: '/startsearching',
        data: data,
        type: 'POST',
        success: function (data) {
            $("#progressbar").hide();
            mapPage.loading = false;
            $('button').prop('disabled', false);
        },
        error: function (xhr, status, error) {
            $("#progressbar").hide();
            mapPage.loading = false;
            $('button').prop('disabled', false);
        },
    });
  }


}

function getPokemonsData(){
    $.ajax({
        url: '/pokemons',
        type: 'GET',
        success: function (data) {
            if(data && data.data && data.data.results){
              for(var i = 0; i < data.data.results.length; i++){

                var key = data.data.results[i].lat + '' + data.data.results[i].lng;

                if(!positions[key]){
                  addMarkerToMap(data.data.results[i].lat, data.data.results[i].lng, 
                  data.data.results[i].name);
                }  

              }
            }
        },
        error: function (xhr, status, error) {
        },
    });
}



function addMarkerToMap(lat, lng, name){ 
    
     var myLatLng = new google.maps.LatLng(lat, lng); 
  var m = new google.maps.Marker({ position: myLatLng, map: map, animation: google.maps.Animation.DROP }); 

var info = new google.maps.InfoWindow({
  content:name
  });

info.open(map,m);

  //Pans map to the new location of the marker 
  map.panTo(myLatLng) 
  

 
} 


setInterval(function () {
      getPokemonsData();

}, 10 * 1000);

 //google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS_t7jTiTfmaHEsTN2uDcPSUi4wEnn7cw&callback=initialize" type="text/javascript"></script>{% endblock %}