{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <h1>Profile</h1>
  <p class="lead">Welcome, {{user.email}}!</p>
  <a href="/">Go home</a>
  <br><br>
  {% if user.products.length > 0 %}
    <p>Products you've purchased:</p>
    <br>
    <ul>
    {% for product in user.products %}
      <li>{{ product.productID }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>

{% endblock %}